@function torem($px){
  @return $px / 40 * 1rem;
}
/*game'bg*/
.gamePoster {
    height: torem(356);
    width: 100%;
    background: url("../images/login-gameBg.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
    .persCenter {
        opacity: 0.8;
        width: torem(80);
        height: torem(80);
        border-radius: torem(40);
        -webkit-border-radius: torem(40);
        font-size: torem(23);
        color: #fff;
        background: #011520;
        position: absolute;
        top: torem(20);
        right: torem(19);   
        p {
            height: torem(58);
            width: torem(80);
            line-height: torem(29);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: torem(-29);
            margin-left: torem(-23.5);
            span {
                display: block; 
            }
         }
    } 
}
/*activity'name*/
.actName {
    width: 100%;
    height: torem(125);
    position: relative;
    border-bottom: dashed torem(1) #C6C6C6;
    .group-actName {
        width: torem(575);
        height: torem(38);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: torem(-19);
        margin-left: torem(-287.5);
        font-size: torem(26);
        color: black;
        letter-spacing: torem(2);
        input {
            float: right;
            width: torem(445);
            height: torem(38);
            padding: 0 torem(30) 0 torem(20);
            border-bottom: solid torem(2) #A8C4F6;
            color: #5185EB;
        }
        i { 
            display: inline-block;
            width: torem(31);
            height: torem(31);
            background: url("../images/login-change.png") no-repeat;
            background-size: 100% 100%; 
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
/*activity'time*/
.actTime {
    width: 100%;
    height: torem(306);
    position: relative;
    border-bottom: dashed torem(1) #C6C6C6;
    >p {
        font-size: torem(26);
        color: black;
        letter-spacing: torem(2);
        position: absolute;
        left: torem(32);
        top: torem(38);
    }
    .weui-input {
        width: torem(430);
        height: torem(72);
        border-radius: torem(9);
        -webkit-border-radius: torem(9);
        border: solid torem(1) #B7B7B7;
        position: absolute;
        left: torem(163);
        top: torem(78);
        font-size: torem(22);
        color: black;
        letter-spacing: torem(2);
        padding-left: torem(40);
    }
    .endCss {
        top:torem(207);
    }
    .timePicker p{
        font-size: torem(26);
        color: black;
        letter-spacing: torem(2);
        position: absolute;
        left: torem(176);
        top: torem(162);
    }
    .timePicker .startI {
        width: torem(1);
        height: torem(72);
        position: absolute;
        right: torem(85);
        top: torem(78);
        background: #B7B7B7;
        z-index: 99;
    }
    .timePicker .endI {
        width: torem(1);
        height: torem(72);
        position: absolute;
        right: torem(85);
        top: torem(207);
        background: #B7B7B7;
        z-index: 99;
    }
    .timePicker .startAngle {
        border: 0.375rem;
        border-color: #5085ED transparent transparent transparent;
        border-style: solid;
        position: absolute;
        right: torem(41);
        top: torem(238);
        z-index: 99;
    }
}
/*handOutAwards*/
.handOutAwards {
    width: 100%;
    height: auto;
    padding: torem(25) 0;
    border-bottom: dashed torem(1) #C6C6C6;
    .title {
        width: 100%;
        height: torem(49);
        line-height: torem(49);
        padding-left: torem(32);
        font-size: torem(26);
        color: black;
        letter-spacing: torem(2);
    }
    ul>li {
        width: 100%;
        height: torem(96);
        line-height: torem(96);
        padding-left: torem(96);
        font-size: torem(22);
        letter-spacing: torem(4); 
    }
    .handOut_input {
        width: torem(100);
        height: torem(72);
        border-radius: torem(9);
        -webkit-border-radius: torem(9);
        border: solid torem(1) #C6C6C6;
        padding-left: torem(10);
    }                                                                                                                                  
}
/*add awards*/
.addAward {
    width: 100%;
    padding: torem(25) 0;
    border-bottom: dashed torem(1) #C6C6C6;
    .item {
        .title {
            width: 100%;
            height: torem(49);
            line-height: torem(49);
            padding: 0 torem(32);
            font-size: torem(26);
            color: black;
            letter-spacing: torem(2);
            #delete {
                float: right;
                display: inline-block;
                width: torem(80);
                height: torem(38);
                line-height: torem(38);
                text-align: center;
                color: #fff;
                font-size: torem(22);
                border-radius: torem(9);
                -webkit-border-radius: torem(9);
                background: #E75200; 
            }
        }
        ul>li {
            width: 100%;
            height: torem(96);
            line-height: torem(96);
            padding-left: torem(96);
            font-size: torem(22);
            letter-spacing: torem(4); 
        }
        .addAward_input {
            width: torem(300);
            height: torem(72);
            border-radius: torem(9);
            -webkit-border-radius: torem(9);
            border: solid torem(1) #C6C6C6;
            padding-left: torem(10);
        }
        .awardPic li:nth-child(1) {
            width: 100%;
            height: torem(96);
            line-height: torem(96);
            padding-left: torem(96);
            font-size: torem(22);
            letter-spacing: torem(4); 
        }
        .awardPic li:nth-child(2) {
            width: 100%;
            height: torem(200);
            padding: 0 torem(67);
            .productPic {
                width: torem(200);
                height: torem(200);
                border-radius: torem(9);
                -webkit-border-radius: torem(9);
                border: solid torem(1) #C6C6C6;
                position: relative;
                float: left;
                span {
                    width: 100%;
                    height: torem(50);
                    order-radius: 0 0 torem(9) torem(9);
                    -webkit-border-radius: 0 0 torem(9) torem(9);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: rgba(0,0,0,0.8);
                    text-align: center;
                    line-height: torem(50);
                    color: #fff;
                    font-size: torem(22);
                }
            }
            .detail {
                float: right;
                width: torem(242);
                height: torem(200);
                position: relative;
                #upPhoto {
                    display: inline-block;
                    width: 100%;
                    height: torem(72);
                    order-radius: torem(9);
                    -webkit-border-radius: torem(9);
                    color: #fff;
                    font-size: torem(22);
                    text-align: center;
                    line-height: torem(72);
                    background: #8E8E8E;    
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .tips {
                    width: 100%;
                    height: torem(96);
                    position: absolute;
                    bottom: 0;
                    left: 0;    
                    p {
                        height: torem(32);
                        width: 100%;
                        line-height: torem(32);
                        color: #9F9F9F;
                        font-size: torem(8);
                        text-align: center;
                    }
                }
            }
        }
    }
    .addPicBtn {
        width: 100%;
        height: torem(96);
        position: relative;
        margin-top: torem(40);
        p {
            width: torem(504);
            height: torem(72);
            line-height: torem(72);
            text-align: center;
            color: #fff;
            font-size: torem(22);
            border-radius: torem(9);
            -webkit-border-radius: torem(9);
            background: #5184ED;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: torem(-252);
            margin-top: torem(-36);
        }
    }
}
/*activity'introduce*/
.actRule {
    width: 100%;
    height: auto;
    padding: torem(25) 0 torem(50) 0;
    border-bottom: dashed torem(1) #C6C6C6;
    text-align: center;
    .title {
        width: 100%;
        height: torem(49);
        line-height: torem(49);
        padding-left: torem(32);
        font-size: torem(26);
        color: black;
        letter-spacing: torem(2);
        text-align: left;
    }
    textarea {
        width: torem(580);
        height: torem(228);
        border-radius: torem(9);
        -webkit-border-radius: torem(9);
        border: solid torem(1) #C6C6C6;
        font-size: torem(22);
        line-height: torem(45.6);
        padding: 0 torem(20);
        margin: 0 auto;
        margin-top: torem(20);

    }
    
}
/*information about awards*/
.awardInfo {
    width: 100%;
    height: auto;
    padding: torem(25) 0 torem(50) 0;
    border-bottom: dashed torem(1) #C6C6C6;
    .title {
        width: 100%;
        height: torem(49);
        line-height: torem(49);
        padding-left: torem(32);
        font-size: torem(26);
        color: black;
        letter-spacing: torem(2);
        text-align: left;
    }
    ul>li {
        width: 100%;
        height: torem(133);
        line-height: torem(133);
        padding-left: torem(52);
        font-size: torem(22);
        letter-spacing: torem(4); 
        position: relative;
    }
    ul>li:nth-child(1) {
        width: 100%;
        height: torem(96);
        line-height: torem(96);
        padding-left: torem(52);
        font-size: torem(22);
        letter-spacing: torem(4); 
    }
    .awardInfo_input {
        width: torem(431);
        height: torem(72);
        border-radius: torem(9);
        -webkit-border-radius: torem(9);
        border: solid torem(1) #C6C6C6;
        padding-left: torem(10);
    }  
    .awardInfo_area {
        width: torem(431);
        height: torem(111);
        border-radius: torem(9);
        -webkit-border-radius: torem(9);
        border: solid torem(1) #C6C6C6;
        padding: torem(10) torem(10);
        position: absolute;
        top: torem(20);
        left: torem(176);
    }
}
/*save act*/
.saveAct {
    width: 100%;
    height: torem(88);
    background: #A6A6A6;
    position: relative;
     p {
        width: torem(504);
        height: torem(58);
        line-height: torem(58);
        text-align: center;
        color: #fff;
        font-size: torem(22);
        border-radius: torem(9);
        -webkit-border-radius: torem(9);
        background: #5184ED;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: torem(-252);
        margin-top: torem(-26);
    }
}